DATABASE=mongodb://<username>:<password>@<host>:<port>/<database>
PORT=4000
SECRET_KEY=<secretJWTPassword>

CLOUD_NAME=<cloudinary-cloud-name>
CLOUD_API_KEY=<cloudinary-cloud-api>
CLOUD_API_SECRET=<cloudinary-api-secret>

MAIL_HOST=<mail_host>
MAIL_PORT=<mail_port>
MAIL_USER=<mail_user>
MAIL_PASS=<mail_pass>